html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}
#game-title{
    text-align: center;

}
#canvas-section{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    
 
}


.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}



.gameScreen{

     border: 5px solid black;
     

}

#time-title{
text-align: center;
}

#score-title{
text-align: center;
}

#instructions{
    text-align: center;
}

.highscores{
    z-index: 3;
    text-align: center;
    position: absolute;
    display: none;
}